# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Database (optional if you want clean database per deployment)
# onelove.db

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
